* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    
}

/* For ONCE - css gets to go take a nap */
canvas {
    background-color: #666;
    width: 100%;
    height: 100%;
}